# Ignore tests
test_manifest
test_memory
test_memory_objects
test_receiver
test_subscriber
test_tinycrypt
test_tinydtls
test_connection_dtls
test_logic
test_bootloader_agent
test_crc16
test_pipeline
test_lzss
test_bspatch
test_buffer
test_request
test_update_pull
test_update_push
test_mbedtls
