# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Contiki folder
./contiki
symbols.c
symbols.h
obj_native/

# Contiki
*.co
*.log
*.native
*.bin
*.srf06-cc26xx

# Testing
assets/
build/ceedling/*/*

# Utils
utils/fake_firmware_generator
.vagrant
ext/
node_modules
package-lock.json

# Documentation

build/documentation/*/**
