language: cpp
sudo: false
dist: trusty

addons:
  apt:
    packages:
      - srecord
      - gcovr
      - gcc-arm-none-eabi
      - device-tree-compiler
      - gperf

#cache:
#directories:
#- ext
#- build/contiki-ng/ext
#- build/riot/ext
#- build/zephyr/ext

before_install:
  - pip install --user cpp-coveralls

install:
  - ./autogen.sh
  - ./configure --enable-gcov

script: 
  - ./$SCRIPT

matrix:
  include:
    - name: "Unit Test"
      env: SCRIPT=test/test-ci.sh
    - name: "Build Test: Contiki-NG"
      env: SCRIPT=build/contiki-ng/test-ci.sh
    - name: "Build Test: Zephyr"
      env: SCRIPT=build/zephyr/test-ci.sh
    - name: "Build Test: RIOT"
      env: SCRIPT=build/riot/test-ci.sh
