language: cpp
sudo: false
dist: trusty

addons:
  apt:
    packages:
      - srecord
      - gcovr

before_install:
  - pip install --user cpp-coveralls

install:
  - ./autogen.sh
  - ./configure --enable-gcov

script: 
  - ./$SCRIPT

matrix:
  include:
    - name: "Unit Test"
      env: SCRIPT=tests/test-ci.sh
    - name: "Build Test: Contiki-NG"
      env: SCRIPT=build/contiki-ng/test-ci.sh
    - name: "Build Test: Zephyr"
      env: SCRIPT=build/zephyr/test-ci.sh
    - name: "Build Test: RIOT"
      env: SCRIPT=build/riot/test-ci.sh

after_success:
  - if [ $SCRIPT = "tests/test-ci.sh" ]; then \
    coveralls -e test -e ext -e /usr -e utils -e build -i src/core -i src/agents -b test -r . --gcov-options '\-lp' \
    fi
